html{
    height: 100%;
    width: auto;
}
*{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin:0px;
    background-size: auto;
    background-repeat: no-repeat;
    background: rgba(255, 237, 234, 0.97);
}

.site{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
}

.column1	{
    width: 600px;
    height: auto;
    display: inline-block;
    padding: 15px;
    background: white;
    vertical-align: top;
    border:4px double black;
    border-radius: 3px;
}

.column1_design{
    background: #f1e3ff;
    height: auto;
    border: 1px rgb(250, 251, 255);
    border-radius: 3px;
    box-shadow:rgba(30, 30, 40, 0.1) 0px -0.2em 0px 0px inset;
}

.columns{
    padding-left: 10%;
}

.top{
    height: 100%;
    display: flex;
    line-height: 20px;
    position: relative;
    text-size-adjust: 100%;
    position: relative;
}

.text_Name{
    width: 80%;
    text-shadow: rgba(0,0,0,0.46);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #c4c4c4;
    cursor: auto;
}

.products_to_buy_Name{
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
    align-items: stretch;
    position: relative;
}

.buy_button{
    display: inline-block;
    width: 37%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    height: 100%;
    align-items: stretch;
    position: relative;
    text-align: right;
}

.count_button{
    display: inline-block;
    width: 37%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    height: 100%;
    align-items: stretch;
    position: relative;
    text-align: center;
}

.button_add {
    width: 15%;
    color: white;
    background-color: #263ee7;
    vertical-align: middle;
    border-radius: 4px;
    text-align: center;
    position: relative;
    text-decoration-style: solid;
    border: 1px  black;;
    box-sizing: border-box;
    font-weight: bold;
    outline: none;
}

.decrease{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    align-items: flex-start;
    background-color: #f0385b;
    color: white;
    display: inline-block;
    font-size: 22px;
    margin-left: 2px;
    padding: 6px;
    padding-bottom: 12px;
    box-sizing: border-box;
    vertical-align: middle;
    box-shadow: rgba(30, 30, 40, 0.1) 0px -0.1em 0px 0px inset;
    text-align: center;
    position: relative;
    font-weight: bold;
    border: #fff9fc;
    text-decoration-style: solid;
    outline: none;
}

.encrease{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    align-items: flex-start;
    background-color: #14e247;
    color: white;
    display: inline-block;
    font-size: 22px;
    margin-left: 2px;
    padding: 6px;
    padding-bottom: 12px;
    box-sizing: border-box;
    vertical-align: middle;
    box-shadow: rgba(30, 30, 40, 0.1) 0px -0.1em 0px 0px inset;
    text-align: center;
    position: relative;
    font-weight: bold;
    border: #fff9fc;
    text-decoration-style: solid;
    outline: none;
}

.number{
    height: 270px;
    width: 28px;
    border: #cbc3c2;
    color: rgba(0, 0, 0, 0.76);
    background-color: rgb(248, 248, 248);
    text-align: center;
    position: relative;
    margin-right: 1.1px;
    margin-left: 1.1px;
    padding-top:4px;
    padding-bottom:8px;
    padding-left: 12px;
    padding-right: 9px;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.2) 0px -0.4em 0px 0px inset;
    text-decoration-style: solid;
}

.centre_line2{
    height: auto;
    width: 600px;
    box-sizing: border-box;
    position: relative;
    align-items: left;
    border-top: 1px solid black;
    padding: 15px;

}
.button_buy{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    box-sizing: border-box;
    align-items: stretch;
    position: absolute;


}

.buy{
    height: 40px;
    width: auto;
    color: rgba(0, 0, 0, 0.95);
    box-shadow: rgba(34, 36, 38, 0.2) 0px -0.4em 0px 0px inset;
    background-color: rgb(248, 248, 248);
    padding-top: 8px;
    padding-bottom: 11.3px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 2.5px;
    box-sizing: border-box;
    outline: none;
    align-items: flex-start;
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    text-align: center;
    position: relative;
}

.delete{
    height: 40px;
    width: 40px;
    font-size: 17px;
    color: white;
    background-color: rgba(247, 18, 34, 0.94);
    box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;
    padding-top: 7.5px;
    padding-bottom: 11.5px;
    padding-right: 10px;
    padding-left: 16px;
    margin: 2.5px;
    horiz-align: center;
    box-sizing: border-box;
    align-items: flex-start;
    display: inline-block;
    border: none;
    vertical-align: middle;
    border-radius: 3.8px;
    text-align: left;
    position: relative;
    font-weight: bold;
    outline: none;
}

.column2{
    width: 300px;
    height:auto;
    background: #f1e3ff;
    border:4px double black;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    border-radius: 3px;
}
.column2_line{
    height: auto;
    width: 300px;
    padding: 14px;
    line-height: 20px;
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid black;
}
.what_to_buy_{

}
.bought_product{
    display: inline-block;
}

.name_of_bought_product{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-size-adjust: 100%;
}

.bought_product_number{
    height: 18px;
    width: 18px;
    background: #ef9900;
    color: #fffcf9;
    border-radius: 100px;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    box-sizing: border-box;
    padding: 4.5px;
    padding-top: 2px;
    padding-bottom: 6px;
    margin-left: 1.2px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-align: center;
}

.label{
    display: inline-block;
    color:black;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 3px;
    border-radius: 4px;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    text-decoration-style: solid;
    border: none;
}

.column2_line{
    height: auto;
    width: auto;
    line-height: 20px;
    padding: 14px;
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid black;
}



.badge{
    position: fixed;
    bottom: -155px;
    right: 20px;
    width: 100px;
    height: 180px;
    color: white;
    background: #ce1ef7;
    text-align: center;
    font-size: 25px;
    font-family: "Comic Sans MS";
    padding: 5px;
    border-top-left-radius: 20px;
    transition: all 400ms ease;
}

badge .title{
     font-size: 25px;
     padding-top: 10px;
}

.badge .created{
    font-size: 15px;
    margin-top: 25px;
}

.badge:hover {
    transform: translateY(-130px);
    background: #542cff;
}

@media (max-width: 500px){
    .column1 {
        display: block;
    }
    .column2 {
        display: block;
    }
}

.tooltip {
    border-bottom: 1px;
}

.tooltip::after {
    background: #5c318d;
    border-radius: 7px 7px 7px 7px;
    color: white;
    position: absolute;
    visibility: hidden;
    content: attr(data-tooltip);
    margin-top: -25px;
    margin-left: -30px;
    padding-left: 7px;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

